* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.app {
  overflow: hidden;
}

.slider {
  display: flex;
  width: 500%;
  transition: transform 0.6s ease-in-out;
}

.screen {
  width: 100vw;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 220px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  max-width: 350px;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.btn {
  padding: 14px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn.primary {
  background: #6b0f1a; /* bordô */
  color: #fff;
}

.btn.primary:hover {
  background: #8c1624;
}

.btn.secondary {
  background: #444;
  color: #fff;
}

.hidden {
  display: none;
}

/* LOADING */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-top: 6px solid #6b0f1a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  text-align: center;
}

.loading-text span {
  font-size: 14px;
  color: #ccc;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* MOBILE */
@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin-top: 20px;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: #6b0f1a;
  color: #fff;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

td {
  padding: 10px 12px;
  border-bottom: 1px solid #333;
  font-size: 15px;
}

tr:last-child td {
  border-bottom: none;
}

.qtd {
  font-weight: bold;
  color: #fff;
}

.slider {
  width: 600%;
}

.card-historico {
  background: #111;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #6b0f1a;
}

.btn.mini {
  padding: 6px 14px;
  font-size: 13px;
}

/* BACKGROUND GLOBAL */
body {
  background: 
    linear-gradient(rgba(0,0,0,0.90), rgba(0,0,0,0.90)),
    url('funudo\ site\ -\ cópia.png') no-repeat center center fixed;
  background-size: cover;
}

/* TELA INICIAL */
.inicio {
  text-align: center;
}

/* TÍTULOS */
.titulo-sistema {
  font-size: 26px;
  margin: 20px 0 10px;
  line-height: 1.3;
}

.titulo-sistema span {
  color: #f80723; /* bordô */
}

.subtitulo-sistema {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 30px;
}

/* RODAPÉ FIXO */
.rodape-sistema {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #ccc;
  z-index: 1000;
  pointer-events: none;
}

.rodape-sistema strong {
  color: #fff;
}